@model Phim
<form asp-action="Delete" method="post">
    <h2>Xoá Phim</h2>
    <hr />
    <input asp-for="ID" type="hidden" />
    <div class="alert alert-info">
        Do you want to delete @Model.TuaDe?
    </div>
    <button type="submit" class="btn btn-danger"> Delete </button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>